$img-dir: '../images/';
$preto: #000;
$verm-1: #e76072;
$verm-2: #ff213f;
$verm-3: #ed273f;
$verde-1: #00c7ca;
$branco: #fff;
$cinza-1: #d8d8d8;
$cinza-2: #929497;
$cinza-3: #f0efef;
$cinza-4: #23282d;
$cinza-5: #191c1f;
$azul-1: #051a4f;