.clientes-section {
	.clientes-section-title {
		font-size: 38px;
		font-weight: 600;
		line-height: 44px;
		color: $cinza-2;
	}
	.clientes-section-img {
		display: block;
		position: relative;
		margin: 0 auto 20px;
		width: 100%;
		height: 100px;
		background-repeat: no-repeat;
		background-position: center;
		@include bg-size( contain );
	}
}