.footer-social-mida {
	display: block;
	margin: 20px 0 0;
	ul {
		margin: 0;
		padding: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 28px;
		list-style: none;
		a {
			display: block;
		}
	}
}