.page-banner {
	background-repeat: no-repeat;
	background-position: center;
	@include bg-size( cover );
	.page-banner-titulo {
		font-size: 78px;
		line-height: 80px;
		font-weight: 600;
		color: $branco;
		@include text-stroke( $branco, 2 );
	}
	.page-banner-subtitulo {
		font-size: 30px;
		line-height: 32px;
		font-weight: 600;		
		color: $branco;
	}
	.page-banner-texto {
		font-size: 21px;
		line-height: 24px;
		font-weight: 400;
		color: $branco;
	}
	.page-banner-btn {
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		&:active,
		&:hover,
		&:focus,
		&:hover:focus {
			background-color: $branco;
			color: $verde-1;			
		}
	}
	.page-banner-title-stroke {
		font-size: 100px;
		line-height: 110px;
		font-weight: 600;
		color: $branco;
		@include text-stroke( $branco, 1 );
	}
	.page-banner-title-1 {
		font-size: 60px;
		line-height: 62px;
		font-weight: 600;		
		color: $branco;
	}
	.page-banner-text-bigger {
		font-size: 28px;
		line-height: 34px;
		font-weight: 600;
		color: $branco;
	}
	.page-banner-text-smaller {
		font-size: 22px;
		line-height: 26px;
		font-weight: 600;
		color: $branco;
	}
}