.prx-lista {
	&.prx-lista-seta-1 {
		ul {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				&:before {
					content: '> ';
					color: $verm-2;
					font-size: 3rem;
					line-height: 3rem;
				}
			}
		}
	}
}