.prx-post {
	&:first-child {
		.prx-thumb {
			display: block;
			@include radius( 25px, 25px, 0, 0 );
			overflow: hidden;
		}
		.prx-summary {
			font-size: 22px;
		}
	}
	.prx-thumb {
		display: block;
		margin: 0 auto 20px;
		padding: 0;
		width: 100%;
		height: 300px;
		position: relative;
		overflow: hidden;
		@include radius( 0, 0, 25px, 25px );
		.prx-thumb-img {
			display: block;
			width: 100%;
			margin: auto;
		}
	}
	.prx-post-title {
		display: block;
		margin: 0 auto 20px;
		font-weight: 600;
		color: $verm-2;
		font-size: 27px;
		a {
			color: inherit;
			font: inherit;
		}
	}

	.prx-summary,
	.prx-post-content {
		font-size: 20px;
		color: $cinza-2;
	}

	.prx-post-content {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: 992px) {

	.prx-post {
		.prx-thumb {
			height: 180px;
			&.prx-thumb-single {
				height: 300px;
				margin-bottom: 40px;
			}
			.prx-thumb-img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
			}
		}
	}

}